body,html,ul,li{
  margin:0;
  padding:0;
}
body,html{
  width:100%;
  height:100%;
}
ul,li{
  list-style:none;
}
a{
  text-decoration:none;
}
#app{
  font-family:'Microsoft Yahei';
  width:100%;
  height:100%;
}
.container{
  display:flex;
  height:100%;
  flex-direction:column;
  justify-content:space-between;
}
