.resume{
	flex-grow:1;
	background-color:#CDDCD8;
	/* display:flex; */
	/* flex-direction:column; */
	animation:1s fadeIn;
}
.showBox{
	text-align:center;
	width:100%;
	border:1px solid red;
}

@-webkit-keyframes fadeIn {
	0%{ 
		transform:translateX(-50px);
 	}
	100% { 
	transform:translateX(0);
	}
}